@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,*:focus,*:hover{
    outline:none;
  }
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('assets/font/RobotoSlab-Thin.ttf');
  font-weight: 100;
}


@font-face {
  font-family: 'RobotoSlab';
  src: url('assets/font/RobotoSlab-Regular.ttf');
  font-weight: 400;
}


@font-face {
  font-family: 'RobotoSlab';
  src: url('assets/font/RobotoSlab-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('assets/font/RobotoSlab-Bold.ttf');
  font-weight: bold;
}
